<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="http://map.eulenfunk.de/build/css/ionicons.min.css">
    <link rel="stylesheet" href="http://map.eulenfunk.de/build/roboto-slab-fontface.css">
    <link rel="stylesheet" href="http://map.eulenfunk.de/build/roboto-fontface.css">
    <link rel="stylesheet" href="http://map.eulenfunk.de/build/style.css">
    <script src="http://map.eulenfunk.de/build/vendor/es6-shim/es6-shim.min.js"></script>
    <script src="http://map.eulenfunk.de/build/app.js"></script>
    <script>
      console.log("Version: v4-27-1db603a")
    </script>
  </head>
  <body>
  </body>
</html>
