<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="preload" href="https://BASEDOM/build/fonts/roboto/Roboto-Regular.woff2" as="font">
    <link rel="preload" href="https://BASEDOM/build/fonts/roboto-slab/Roboto-Slab-Bold.woff2" as="font">
    <link rel="preload" href="https://BASEDOM/build/fonts/ionicons.woff" as="font">
    <link rel="stylesheet" href="https://BASEDOM/build/css/ionicons.min.css">
    <link rel="stylesheet" href="https://BASEDOM/build/css/roboto-slab/roboto-slab-fontface.css">
    <link rel="stylesheet" href="https://BASEDOM/build/css/roboto/roboto-fontface.css">
    <link rel="stylesheet" href="https://BASEDOM/build/style.css">
    <script src="https://BASEDOM/build/app.js"></script>
  </head>
  <body>
    <div class="loader" id="loader">
      <p>
        Lade<br />
        <span class="spinner"></span><br />
        Karte &amp; Knoten...
      </p>
      <noscript>
          <strong>JavaScript required</strong>
      </noscript>
    </div>
  </body>
</html>
