server {
    listen domain.org:80;
    server_name domain.org;

    return 301 https://$server_name$request_uri;
}

server {
    listen domain.org:443;
    server_name domain.org;

    ssl on;
    ssl_certificate /etc/letsencrypt/live/domain.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/domain.org/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/domain.org/fullchain.pem;

    location / {
        root /srv/http/dom/domain.org;
        index index.html;
    }

    location /data/ {
        proxy_pass http://127.0.0.1:4port/;
    }
}
