<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="PROTO://BASEDOM/build/css/ionicons.min.css">
    <link rel="stylesheet" href="PROTO://BASEDOM/build/roboto-slab-fontface.css">
    <link rel="stylesheet" href="PROTO://BASEDOM/build/roboto-fontface.css">
    <link rel="stylesheet" href="PROTO://BASEDOM/build/style.css">
    <script src="PROTO://BASEDOM/build/vendor/es6-shim/es6-shim.min.js"></script>
    <script src="PROTO://BASEDOM/build/app.js"></script>
  </head>
  <body>
  </body>
</html>
